<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        h1 {
            text-align: center;
        }
        div {
            text-align: center;
        }
    </style>
    <title>Result</title>
</head>
<body>
<div>
    Language detected using MeaningCloud is <strong>{{ language }}</strong>
<br/>
Langauge detected using detectlangauge is <strong>{{ lang }}</strong>
<br/>
    <br/>
<a href="{%url 'edit_page'%}">Back to Previous Edit Page</a>
<br/>
<a href="{%url 'home_page'%}">Back to Home Page</a>
</div>
</body>
</html>